.header {
  background-color: transparent;
  font-weight: 500;
  line-height: 1.25;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  // background-image: url(../images/first-screen.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // /* background-image: url(../images/first-screen.jpg), url(../images/standart.jpg);
  // background-repeat: no-repeat;
  // background-size: 600px auto, auto 350px;
  // background-position: left calc(50% + 340px) bottom, left calc(50% - 340px) top; */
  // @include mq(retina) {
  //   background-image: url(../images/first-screen@2x.jpg);
  // }
}
