.projects-list {
  --card-item: 4;
  margin-bottom: 30px;
}
.projects-text{
  margin-bottom: 30px;
}
.projects-button{
  max-width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}