:root {
  --main-text-color: #999999;
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --dark-text-color: #323232;
  --accent-color: #4985ff;
  --button-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  --card-gap-top: 30px;
  --card-gap-left: 30px;
  --card-item: 1;
}
